<div class="alert alert-danger" ng-show="controller.error">
	There was a problem logging in. Please try again.
</div>
<div class="login-box">
	<div class="login-logo">
		<b>Emergency App</b>
	</div>
	<!-- /.login-logo -->
	<div class="login-box-body">
		<p class="login-box-msg">Sign in to start your session</p>

		<form role="form" ng-submit="controller.login()">
			<div class="form-group has-feedback">
				<input id="username" name="username" class="form-control" ng-model="controller.credentials.username">
			</div>
			<div class="form-group has-feedback">
				<input id="password" name="password" type="password" class="form-control" placeholder="Password" ng-model="controller.credentials.password">
			</div>
			<div class="row">
				<!-- /.col -->
				<div class="col-xs-4">
					<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
				</div>
				<!-- /.col -->
			</div>
		</form>


		<a href="#">I forgot my password</a><br>
		<a href="register.html" class="text-center">Register a new membership</a>

	</div>
	<!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<!--<form role="form" ng-submit="controller.login()">-->
	<!--<div class="form-group">-->
		<!--<label for="username">Username:</label> <input type="text"-->
			<!--class="form-control" id="username" name="username" ng-model="controller.credentials.username"/>-->
	<!--</div>-->
	<!--<div class="form-group">-->
		<!--<label for="password">Password:</label> <input type="password"-->
			<!--class="form-control" id="password" name="password" ng-model="controller.credentials.password"/>-->
	<!--</div>-->
	<!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->
